.content__main--advertisement_bar__box
  = link_to "https://jp-news.mercari.com/2019/12/05/kaushika-kaudake", rel: "noopener noreferrer", target: "_blank" do
    .content__main--advertisement_bar__box--link
  .content__main--advertisement_bar__box--details
    .slider-frame
      %ul.slider-list
        %li.slider-slide
          = link_to "https://jp-news.mercari.com/2019/12/05/kaushika-kaudake", rel: "noopener noreferrer", target: "_blank" do
            .content__main--advertisement_bar__box--details__specific{"aria-hidden": "true"}
        %li.slider-slide.camp
          = link_to "https://www.mercari.com/jp/featured/camp/" do
            .content__main--advertisement_bar__box--details__specific{"aria-hidden": "true"}
        %li.slider-slide.slide-visible
          .content__main--advertisement_bar__box--details__specific
            .content__main--advertisement_bar__box--details__specific--pic_element
              = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-device-1f627e51e488f6ca35feaa6a08b79736.png", alt: "", class: "content__main--advertisement_bar__box--details__specific--pic_element__picture"
              .content__main--advertisement_bar__box--details__specific--pic_element__font_area
                .content__main--advertisement_bar__box--details__specific--pic_element__font_area--upper
                  スマホで かんたん
                  %br/
                  フリマアプリ
                %p.content__main--advertisement_bar__box--details__specific--pic_element__font_area--middle
                  メルカリはスマホカメラからすぐに出品できる
                  %br/
                  購入時も安心な独自システムのアプリです
                .content__main--advertisement_bar__box--details__specific--pic_element__font_area--lower
                  = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", rel: "noopener noreferrer", target: "_blank" do
                    = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/app-store-a5c17948c6fd6d5b60b13d421cd60b35.svg", alt: "", class: "content__main--advertisement_bar__box--details__specific--pic_element__font_area--lower__icons"
                  = link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", rel: "noopener noreferrer", target: "_blank" do
                    = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/google-play-495575abb895b405aa6336b2a4304958.svg", alt: "", class: "content__main--advertisement_bar__box--details__specific--pic_element__font_area--lower__icons"
    .slider-control-centerleft
      .content__main--advertisement_bar__box--details--arrow.left
    .slider-control-centerright
      .content__main--advertisement_bar__box--details--arrow.right
    .slider-control-bottomcenter
      .style_dotsIndicator__1fZnt.common_fontFamily__3-3Si.style_center__2IkR_.style_mono__3e12j.sc-iGPElx.zxiXZ
        %span
        %span
        %span.style_active__2ihlK
    :css
      .slider-slide > img { width: 100%; display: block; }
                .slider-slide > img:focus { margin: auto; }
/
  <a href="test">
  <div class="content__main--advertisement_bar__box">
  </div>
  </a>
  <div class="content__main--advertisement_bar__sample_view">
  </div>