.content__main--latest-items__box
  .content__main--latest-items__box--top_bar
    .content__main--latest-items__box--top_bar__title
      「仮」新着アイテム1
      -# DBより「仮」部分の名前取得
    = link_to "test", class: "content__main--latest-items__box--top_bar__more-btn" do
      もっと見る
  = render partial: "top/merchandises"
.content__main--latest-items__box
  .content__main--latest-items__box--top_bar
    .content__main--latest-items__box--top_bar__title
      「仮」新着アイテム2
    = link_to "test", class: "content__main--latest-items__box--top_bar__more-btn" do
      もっと見る
  = render partial: "top/merchandises"
.content__main--latest-items__box
  .content__main--latest-items__box--top_bar
    .content__main--latest-items__box--top_bar__title
      「仮」新着アイテム3
    = link_to "test", class: "content__main--latest-items__box--top_bar__more-btn" do
      もっと見る
  = render partial: "top/merchandises"
.content__main--latest-items__box
  .content__main--latest-items__box--top_bar
    .content__main--latest-items__box--top_bar__title
      「仮」新着アイテム4
    = link_to "test", class: "content__main--latest-items__box--top_bar__more-btn" do
      もっと見る
  = render partial: "top/merchandises"