.content__main--latest-items__box
  .content__main--latest-items__box--top_bar
    .content__main--latest-items__box--top_bar__title
      レディース新着アイテム
    = link_to products_path, class: "content__main--latest-items__box--top_bar__more-btn" do
      もっと見る
  %ul.content__main--latest-items__box--merchandises
    = render partial: 'merchandises', collection: @ladies, as:'category'
.content__main--latest-items__box
  .content__main--latest-items__box--top_bar
    .content__main--latest-items__box--top_bar__title
      メンズ新着アイテム
    = link_to "test", class: "content__main--latest-items__box--top_bar__more-btn" do
      もっと見る
  %ul.content__main--latest-items__box--merchandises
    = render partial: 'merchandises', collection: @mens, as:'category'
.content__main--latest-items__box
  .content__main--latest-items__box--top_bar
    .content__main--latest-items__box--top_bar__title
      家電・スマホ・カメラ新着アイテム
    = link_to "test", class: "content__main--latest-items__box--top_bar__more-btn" do
      もっと見る
  %ul.content__main--latest-items__box--merchandises
    = render partial: 'merchandises', collection: @electricals, as:'category'
.content__main--latest-items__box
  .content__main--latest-items__box--top_bar
    .content__main--latest-items__box--top_bar__title
      おもちゃ・ホビー・グッズ新着アイテム
    = link_to "test", class: "content__main--latest-items__box--top_bar__more-btn" do
      もっと見る
  %ul.content__main--latest-items__box--merchandises
    = render partial: 'merchandises', collection: @toys, as:'category'