%li.content__main--latest-items__box--merchandises__merchandise
  = link_to product_path(category), class: "content__main--latetst-items__box--merchandises__merchandise--block" do
    %figure.content__main--latest-items__box--merchandises__merchandise--block__element
      %figcaption
        %span
          = category.name
      .content__main--latest-items__box--merchandises__merchandise--block__element--pic_box
        = image_tag category.product_images.first.image_url.to_s, class: "lazyloaded", alt: ""
        %span{"aria-label": "Price"}
          = "¥#{category.price.to_s(:delimited)}"