.user_edit
  = render './shareParts/topHeader'
.main
  .main__side
    =render './shareParts/topSidebar'

  .main__top
    = form_with(model: @user,url: user_path(current_user.id),method: :patch,  local: true) do |form|
      .main__top--pro プロフィール 
      .field
        = form.text_field :nickname, class:"main__top--nickname", placeholder:"ニックネーム"
      .field
        = form.text_field :profiles, class:"main__top--text", placeholder:"初めまして　よろしくお願いしまうま"
      .actions
        = form.submit "変更する", class:"main__top--change"
%footer.footer
  = render './shareParts/topFooter'
