.headers
  .header
    .header__upper
      .header__upper--leftbox
        = link_to root_path, class: "main_logo" do
          = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", alt: "mercari", class: "mercari_logo"
      %form.header__upper--form{action: "test"}
        %input.header__upper--form__input{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}/
        %button.header__upper--form__search
          %svg.header__upper--form__search--search-btn{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 16 16", :width => "16"}
            %path{d: "M11.435 10.063h-.723l-.256-.247a5.92 5.92 0 0 0 1.437-3.87 5.946 5.946 0 1 0-5.947 5.947 5.92 5.92 0 0 0 3.87-1.437l.247.256v.723L14.637 16 16 14.637l-4.565-4.574zm-5.489 0A4.111 4.111 0 0 1 1.83 5.946 4.111 4.111 0 0 1 5.946 1.83a4.111 4.111 0 0 1 4.117 4.116 4.111 4.111 0 0 1-4.117 4.117z", fill: "currentColor", "fill-rule": "nonzero"}
    .header__lower
      .header__lower--leftbox
        .header__lower--leftbox__search
          = link_to "test", class: "header__lower--leftbox__search--box" do
            %svg.header__lower--leftbox__search--box__icon{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 20 16", :width => "20"}
              %path{d: "M18.799 15.25h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zm0-6h-11.5a1.25 1.25 0 1 1 0-2.5h11.5a1.25 1.25 0 0 1 0 2.5zM2 16a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4zm0-6a2 2 0 1 0 0-4 2 2 0 0 0 0 4z", fill: "currentColor", "fill-rule": "nonzero"}
            カテゴリーから探す
        .header__lower--leftbox__search
          = link_to "test", class: "header__lower--leftbox__search--box" do
            %svg.header__lower--leftbox__search--box__icon{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 23 16", :width => "23"}
              %path{d: "M6.315 0L4.473 1.806 2.833.019.73 1.977l1.69 1.84L1.198 5.02c-1.594 1.594-1.594 4.188-.01 5.772L6.3 16h13.272a3.08 3.08 0 0 0 3.077-3.077V3.076A3.08 3.08 0 0 0 19.57 0H6.315zm13.46 12.925a.211.211 0 0 1-.205.205H7.504L3.227 8.771a1.226 1.226 0 0 1-.01-1.71L4.38 5.92l1.28 1.371a2.68 2.68 0 1 0 2.13-1.93L6.433 3.907 7.49 2.87h12.082a.211.211 0 0 1 .206.205v9.848h-.002z", fill: "currentColor", "fill-rule": "nonzero"}
            ブランドから探す
      .header__lower--rightbox
        .header__lower--rightbox__sign_up
          = link_to destroy_user_session_path, method: :delete, class: "header__lower--rightbox__sign_up--btn" do
            新規会員登録
        .header__lower--rightbox__log_in
          = link_to new_credit_card_path, class: "header__lower--rightbox__log_in--btn" do
            ログイン
%main.mypage-container
  .mypage-content
    %section.mypage-user-icon
      = link_to users_path do
        %figure
          = image_tag "https://static.mercdn.net/thumb/members/103058894.jpg?1538909507", size: "60x60"
        %h2.mypage-user-icon__name.bold
          = current_user.nickname
        .mypage-user-icon__number
          .mypage-user-icon__number--rate
            評価
            %span.bold
              0
          .mypage-user-icon__number--display
            出品数
            %span.bold
              15
    %section.mypage-content__tab-container-notification
      %ul.mypage-content__tabs
        %li.mypage-content__tabs--active
          %h3.mypage-content__tabs__head
            = link_to users_path do
              お知らせ
        %li.mypage-content__tabs--non-active
          %h3
            = link_to users_path, class: "mypage-content__tabs__head" do
              やることリスト
      .mypage-content__tab-content
        %ul.mypage-content__tab-content__item-list
          %li
            = link_to users_path, class: "mypage-content__tab-content__item-list__link" do
              %figure
                = image_tag("https://static.mercdn.net/images/mercari_profile.png", size: "48x48")
              .mypage-content__tab-content__item-list__body
                .mypage-content__tab-content__item-list__body--text
                  時間が足りないよやること多すぎだよ眠いよ寝よう
                %time
                  = icon "far", "clock"
                  %span 1日前
              = icon "fas", "angle-right", class: "mypage-content__tab-content__item-list__icon"
          %li
            = link_to users_path, class: "mypage-content__tab-content__item-list__link" do
              %figure
                = image_tag("https://static.mercdn.net/thumb/photos/m52914734455_1.jpg?1557221827", size: "48x48")
              .mypage-content__tab-content__item-list__body
                .mypage-content__tab-content__item-list__body--text
                  いいね！したシャツにコメントがつきました。
                %time
                  = icon "far", "clock"
                  %span 5時間前
              = icon "fas", "angle-right", class: "mypage-content__tab-content__item-list__icon"
          %li
            = link_to users_path, class: "mypage-content__tab-content__item-list__link" do
              %figure
                = image_tag("https://static.mercdn.net/images/mercari_profile.png", size: "48x48")
              .mypage-content__tab-content__item-list__body
                .mypage-content__tab-content__item-list__body--text
                  「メルペイスマート払い」なら今だけ最大3％還元！詳しくはこちら
                %time
                  = icon "far", "clock"
                  %span 5週間前
              = icon "fas", "angle-right", class: "mypage-content__tab-content__item-list__icon"
          %li
            = link_to users_path, class: "mypage-content__tab-content__item-list__link" do
              %figure
                = image_tag("https://static.mercdn.net/images/mercari_profile.png", size: "48x48")
              .mypage-content__tab-content__item-list__body
                .mypage-content__tab-content__item-list__body--text
                  最大P3000もらえる！買うしかないキャンペーン開催中！！
                %time
                  = icon "far", "clock"
                  %span 4時間前
              = icon "fas", "angle-right", class: "mypage-content__tab-content__item-list__icon"
          %li
            = link_to users_path, class: "mypage-content__tab-content__item-list__link" do
              %figure
                = image_tag("https://static.mercdn.net/thumb/photos/m97045633952_1.jpg?1568523458", size: "48x48")
              .mypage-content__tab-content__item-list__body
                .mypage-content__tab-content__item-list__body--text
                  「サッカー用コーン」を購入しました。取引が完了しました。
                %time
                  = icon "far", "clock"
                  %span 1分前
              = icon "fas", "angle-right", class: "mypage-content__tab-content__item-list__icon"
          %li.mypage-content__tab-content__item-list__index
            = link_to users_path do
              一覧を見る
    %section.mypage-content__tab-container
      %h2.mypage-content__head.bold 購入した商品
      %ul.mypage-content__tabs
        %li.mypage-content__tabs--active
          %h3.mypage-content__tabs__head
            = link_to users_path do
              取引中
        %li.mypage-content__tabs--non-active
          %h3.mypage-content__tabs__head
            = link_to users_path do
              過去の取引
      .mypage-content__tab-content
        %ul.mypage-content__tab-content-active
          %li.mypage-content__tab-content__not-found.bold
            取引中の商品がありません
  .mypage-side
    =render './shareParts/topSidebar'
    -# %nav.mypage-side-nav
    -#   %ul.mypage-side-nav__list
    -#     %li
    -#       = link_to users_path, class: "mypage-side-nav__list__item active" do
    -#         マイページ
    -#         = icon "fas", "angle-right" , class: "mypage-side-nav__list__icon"
    -#     %li
    -#       = link_to users_path, class: "mypage-side-nav__list__item" do
    -#         お知らせ
    -#         = icon "fas", "angle-right" , class: "mypage-side-nav__list__icon"
    -#     %li
    -#       = link_to users_path, class: "mypage-side-nav__list__item" do
    -#         やることリスト
    -#         = icon "fas", "angle-right" , class: "mypage-side-nav__list__icon"
    -#     %li
    -#       = link_to users_path, class: "mypage-side-nav__list__item" do
    -#         いいね！一覧
    -#         = icon "fas", "angle-right" , class: "mypage-side-nav__list__icon"
    -#     %li
    -#       = link_to users_path, class: "mypage-side-nav__list__item" do
    -#         出品する
    -#         = icon "fas", "angle-right" , class: "mypage-side-nav__list__icon"
    -#     %li
    -#       = link_to users_path, class: "mypage-side-nav__list__item" do
    -#         出品した商品 - 出品中
    -#         = icon "fas", "angle-right" , class: "mypage-side-nav__list__icon"
    -#     %li
    -#       = link_to users_path, class: "mypage-side-nav__list__item" do
    -#         出品した商品 - 取引中
    -#         = icon "fas", "angle-right" , class: "mypage-side-nav__list__icon"
    -#     %li
    -#       = link_to users_path, class: "mypage-side-nav__list__item" do
    -#         出品した商品 - 売却済み
    -#         = icon "fas", "angle-right" , class: "mypage-side-nav__list__icon"
    -#     %li
    -#       = link_to users_path, class: "mypage-side-nav__list__item" do
    -#         購入した商品 - 取引中
    -#         = icon "fas", "angle-right" , class: "mypage-side-nav__list__icon"
    -#     %li
    -#       = link_to users_path, class: "mypage-side-nav__list__item" do
    -#         購入した商品 - 過去の取引
    -#         = icon "fas", "angle-right" , class: "mypage-side-nav__list__icon"
    -#     %li
    -#       = link_to users_path, class: "mypage-side-nav__list__item" do
    -#         ニュース一覧
    -#         = icon "fas", "angle-right" , class: "mypage-side-nav__list__icon"
    -#     %li
    -#       = link_to users_path, class: "mypage-side-nav__list__item" do
    -#         評価一覧
    -#         = icon "fas", "angle-right" , class: "mypage-side-nav__list__icon"
    -#     %li
    -#       = link_to users_path, class: "mypage-side-nav__list__item" do
    -#         ガイド
    -#         = icon "fas", "angle-right" , class: "mypage-side-nav__list__icon"
    -#     %li
    -#       = link_to users_path, class: "mypage-side-nav__list__item" do
    -#         お問い合わせ
    -#         = icon "fas", "angle-right" , class: "mypage-side-nav__list__icon"
    -#   %h3.mypage-side-nav__head メルペイ
    -#   %ul.mypage-side-nav__list.margin
    -#     %li
    -#       = link_to users_path, class: "mypage-side-nav__list__item" do
    -#         売上・振込申請
    -#         = icon "fas", "angle-right" , class: "mypage-side-nav__list__icon"
    -#     %li
    -#       = link_to users_path, class: "mypage-side-nav__list__item" do
    -#         ポイント
    -#         = icon "fas", "angle-right" , class: "mypage-side-nav__list__icon"
    -#   %h3.mypage-side-nav__head 設定
    -#   %ul.mypage-side-nav__list.margin
    -#     %li
    -#       = link_to edit_user_path(current_user.id), class: "mypage-side-nav__list__item" do
    -#         プロフィール
    -#         = icon "fas", "angle-right" , class: "mypage-side-nav__list__icon"
    -#     %li
    -#       = link_to users_path, class: "mypage-side-nav__list__item" do
    -#         発送元・お届け先住所変更
    -#         = icon "fas", "angle-right" , class: "mypage-side-nav__list__icon"
    -#     %li
    -#       = link_to users_path, controller: "payments", method: :get, action: "index", class: "mypage-side-nav__list__item" do
    -#         支払い方法
    -#         = icon "fas", "angle-right" , class: "mypage-side-nav__list__icon"
    -#     %li
    -#       = link_to users_path, class: "mypage-side-nav__list__item" do
    -#         メール/パスワード
    -#         = icon "fas", "angle-right" , class: "mypage-side-nav__list__icon"
    -#     %li
    -#       = link_to users_path, class: "mypage-side-nav__list__item" do
    -#         本人情報
    -#         = icon "fas", "angle-right" , class: "mypage-side-nav__list__icon"
    -#     %li
    -#       = link_to users_path(current_user.id), class: "mypage-side-nav__list__item" do
    -#         電話番号の確認
    -#         = icon "fas", "angle-right" , class: "mypage-side-nav__list__icon"
    -#     %li
    -#       = link_to "", method: :delete, action: "destroy", class: "mypage-side-nav__list__item" do
    -#         ログアウト
    -#         = icon "fas", "angle-right" , class: "mypage-side-nav__list__icon"