.user__identifications
  %header
    = render partial: "/render_partial/user_header"
= form_with(model: @user_identification,local: true) do |form|
  .main
    .user__info 住所入力
    .user__addressinput
      .user__addressinput--center
        .user__addressinput--postcode.margin-b
          郵便番号
          %span.changecolor 必須
          = form .text_field :post_number ,class:"user__input--zipcode",placeholder:"例 123-4567"
        .user__addressinput--prefecture.margin-b
          都道府県
          %span.changecolor 必須
          = form .text_field :prefecture ,class:"user__input--prefectures",placeholder:"例 東京都"
        .user__addressinput--prefecture.margin-b
          市町村
          %span.changecolor 必須
          = form .text_field :city ,class:"user__input--prefectures",placeholder:"例 渋谷区"
        .user__addressinput--banchis.margin-b
          番地
          %span.changecolor 必須
          = form .text_field :block ,class:"user__input--banchi",placeholder:"例 1丁目3-56"
        .user__addressinput--building.margin-b
          建物名
          %span.changegray 任意
          = form .text_field :building ,class:"user__input--buildings",placeholder:"例 森ビル３階"
        .user__addressinput--phone.margin-b
          電話番号
          %span.changegray 任意
          = form .text_field :telnumber ,class:"user__input--tel",placeholder:"例 090-1111-1111"
        = form.submit class:"next__page",value:"次へ進む"
  %footer
    = render partial: "/render_partial/user_footer"

