.detailWrapper
  = render './shareParts/detailHeader'
  .detailMain#edit_product_img
    = form_with(model: @product, local: true, class: "", id: "edit_product_wrap") do |f|
      .exhibitionTop
        %h2.caption 商品の情報を入力
      .exhibitionImage
        .caption
          出品画像
          %span.red 必須
        %span 最大10枚まで保存できます。
        
        = f.fields_for :product_images, @product.product_images.first do |m|
          .dropzone-container
            -# 1〜５のレビュー
            #preview.exhibitionLR
            .dropzone-area.dpz-area
              = m.label :image_url, class: "dropzone-box", for: "upload-image" do
                .input_area
                  = m.file_field :image_url, multiple: true, name: 'product_images[image][]', class: "upload-image", 'data-image': 0, id: "upload-image"
                %p.drop ここをクリックしてください
          -# 6〜10のレビュー
          .dropzone-container2
            #preview2.exhibitionLR
            .dropzone-area2.dpz-area
              = m.label :image_url, class: "dropzone-box", for: "upload-image" do
                %p.drop ここをクリックしてください

      .exhibitionInfo
        .caption
          商品名
          %span.red 必須
        %div
          = f.text_field :name, class: "detailInput",placeholder:"商品名（必須 40文字まで)" ,maxlength:"40"

        .caption
          商品の説明
          %span.red 必須
          = f.text_area :description, class: "detailInput",placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", maxlength:"1000",rows: "5"
      
      .exhibitionDetail.exhibitionLR
        .caption 商品の詳細
        .exhibition--right
          .caption
            カテゴリー
            %span.red 必須
          .listing_category
            .listing-select-wrapper__box
              = f.collection_select :category_id, Category.where(ancestry: nil) , :id, :name, {prompt: "---"}, {class: "collection_select, parent, detailInput", id: "c_parents", action: "", required: true, name: nil}
              -# = f.collection_select :category_id,Category.roots, :id, :name, {prompt: ""},{class: "i", required: true, name: nil}
              -# = f.select :category_id, @c_category, {}, {class: "collection_select, parent, detailInput", id: "c_parents"}

          .sell__form--box.form__group--size#size
            .caption
              サイズ
              %span.red 必須
            = f.collection_select :size_id, Size.all, :id, :size, {prompt:"---"}, {class:"collection_select, detailInput"}
          .sell__form--box.form__group--brand#brands
            .caprtion
              ブランド
              %span.form__require 任意
            = f.text_field :brand, class: "input__name, detailInput",placeholder:"例）シャネル"
          .sell__form--box.form__group--status
            .caption
              商品の状態
              %span.red 必須
            = f.collection_select :status_id, Status.all, :id, :status,{prompt:"---"}, {class:"collection_select, detailInput"}

      .exhibitionDerivary.exhibitionLR
        .caption
          配送について
          =link_to "?" ,root_path ,{class:"form-question"}
        .exhibition--right
          #js.form__group--send--JS
            .sell__form--box
              #send.form__group--category
                .caption
                  配送料の負担
                  %span.red 必須
                = f.collection_select :bearsize_id, ChargeMethod.where(ancestry: nil) ,:id ,:layer ,{prompt:"---"}, {class:"collection_select ,parent_11, detailInput" ,id: "parent2"}
          #copyjs1.form__group--send--JS
            .sell__form--box
              #copysend.form__group--category
                .caption
                  配送料の方法
                  %span.red 必須
                = f.collection_select :sendmethod_id, ChargeMethod.find(1).children ,:id ,:layer ,{prompt:"---"}, {class:"collection_select ,children_22, detailInput" ,id: "child1"}
          #copyjs2.form__group--send--JS
            .sell__form--box
              #copysend.form__group--category
                .caption
                  配送料の方法
                  %span.red 必須
                = f.collection_select :sendmethod_id, ChargeMethod.find(2).children ,:id ,:layer ,{prompt:"---"}, {class:"collection_select ,children_22, detailInput" ,id: "child2"}
          #beforecopy.form__group--send--2
            .sell__form--box
              .form__group--category
                .caption
                  発送元の地域
                  %span.red 必須
                = f.collection_select :address_id, Address.all, :id, :name,{prompt:"---"}, {class:"collection_select, detailInput"}
            .form__group--send--2
              .sell__form--box
                .caption
                  発送までの日数
                  %span.red 必須
                %div
                  = f.collection_select :period_id, Period.all,:id ,:period ,{prompt:"---"},{class:"collection_select, detailInput"}
                  
      .exhibitionSellingPrice.exhibitionLR
        .caption
          販売価格(300〜9,999,999)
          =link_to "?" ,root_path ,{class:"form-question"}
        .exhibition--right
          .exhibitionLR
            .price__2
              .caption
                価格
                %span.red 必須
            .price__3
              %span.en ¥
              = f.text_field :price, id: "price", class: "detailInput",placeholder:"例）300  ",maxlength:"40"
          .price__5
            .l-left__10 販売手数料 (10%)
          .price__6
            %span#per.l__right
          .price__8
            %span.l-left--profit 販売利益
          .price__9
            #profit.l__right

      .sell__content
        .bottom
          %p
            =link_to "禁止されている出品" ,"/jp/help_center/getting_started/prohibited_conduct/"
            、
            =link_to "行為" ,"/jp/help_center/getting_started/prohibited_conduct/"
            を必ずご確認ください。
          %p
            またブランド品でシリアルナンバー等がある場合はご記載ください。
            =link_to "偽ブランドの販売" ,"/jp/help_center/getting_started/counterfeit_goods/"
            は犯罪であり処罰される可能性があります。
          %p
            また、出品をもちまして
            =link_to "加盟店規約" ,"/jp/seller_terms/"
            に同意したことになります。
        = f.submit "編集する", class: "btn-red edit_product"
        %a.btn-default.btn-gray{href: "../"} もどる
  = render partial: './shareParts/detailFooter'

:javascript
  'use strict';
  const parent2 = document.getElementById("parent2");
  const copyjs1 = document.getElementById("copyjs1");
  const copyjs2 = document.getElementById("copyjs2");
  const brand = document.getElementById("brand");
  const grandchild_js = document.getElementById("grandchild_js");
  const size = document.getElementById("size");
  
  parent2.addEventListener("change", function () {
    if (parent2.value == 1){
      copyjs1.style.display ="block";
      copyjs2.style.display ="none";
    
    }else if(parent2.value == 2){
      copyjs2.style.display ="block";
      copyjs1.style.display ="none";
    }else if(parent2.value == ""){
      copyjs1.style.display ="none";
      copyjs2.style.display ="none";
    }
  });
  const input = document.getElementById("price");
  input.addEventListener("change",function () {
    document.getElementById("per").innerHTML= "¥" +Math.floor(input.value * 0.1).toLocaleString();
    document.getElementById("profit").innerHTML= "¥" +(input.value - Math.floor(input.value * 0.1)).toLocaleString();
  });