!!!
%html{lang: "ja"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{charset: "utf-8"}/
    %title メルカリ
    %meta{content: "商品出品ページ", name: "description"}/
    %link{href: "products_sell.scss", rel: "stylesheet", type: "text/scss"}/
    %link{href: "app/assets/images/favicon.ico", rel: "icon", sizes: "20x20"}/
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"}
  %body
    .container
      %header.header
        %a{:href => "https://www.mercari.com/jp/"}
          %img{:alt => "mercari", :src => "https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2356214421"}/
      %main.main
        .sell-container
          = form_for @product do |f|
            %section.sell-container-inner
              .sell-content.l-head
                %h2 商品の情報を入力
              .sell-content
                .sell-upload-box
                  .form-group__name
                    %label
                      出品画像
                      %span.form-require 必須
                    %p 最大10枚までアップロードできます
                    .sell-form
                      .sell-upload-drop-box
                        %p
                          %label.l1> ドラッグアンドドロップ
                          \&gt;
                        %br/
                        = succeed ">" do
                          %label.l2 またはクリックしてファイルをアップロード
                        %input.image{multiiple: "ture", type: "file"}/
              .sell-content
                .form-group__name
                  %label
                    商品名
                    %span.form-require 必須
                  %div
                    = f.text_field :name, class: "input-name",placeholder:"商品名（必須 40文字まで)" ,maxlength:"40"
                .form-group__text
                  %label
                    商品の説明
                    %span.form-require 必須
                  = f.text_area :description, class: "textarea-default",placeholder:"商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。" ,maxlength:"1000",rows: "5"
              .sell-content.clearfix
                .price-1 商品の詳細
                .sell-form-box
                  %label
                    カテゴリー
                    %span.form-require 必須
                  = f.fields_for :product_categories do |n|
                    = n.collection_select :categories_id, Category.where(ancestry: nil) ,:id,:layer ,{prompt: "---"} ,{class: "collection_select ,parent" ,id: "c_parents"}
                    %select#kodomo.collection_select{class: ",child"}
                      %option ---
                    %select#mago.collection_select{class: "gr_child"}
                      %option ---
                %div
                  .sell-form-box.form-group__size#size
                    %label
                      サイズ
                      %span.form-require 必須
                    = f.fields_for :products do |n|
                      = n.collection_select :id, Size.all, :id, :size,{prompt:"---"}, {class:"collection_select"}
                  .sell-form-box.form-group__brand#brands
                    %label
                      ブランド
                      %span.form-require 任意
                    = f.text_field :brand, class: "input-name",placeholder:"例）シャネル"
                  .sell-form-box.form-group__status
                    %label
                      商品の状態
                      %span.form-require 必須
                    = f.fields_for :products_statuses do |n|
                      = n.collection_select :status_id, Status.all, :id, :status,{prompt:"---"}, {class:"collection_select"}
              .sell-content.clearfix
                .price-1
                  配送について
                  %a.form-question{:href => "/jp/help_center/article/64/", target: "_blank"} ?
                #js.form-group__send__JS
                  .sell-form-box
                    #send.form-group__category
                      %label
                        配送料の負担
                        %span.form-require 必須
                      = f.fields_for :prduct_charge_methods do |n|
                        = n.collection_select :method_id, ChargeMethod.where(ancestry: nil) ,:id ,:layer ,{prompt:"---"}, {class:"collection_select ,parent_11" ,id: "parent2"}
                #copyjs1.form-group__send__JS
                  .sell-form-box
                    #copysend.form-group__category
                      %label
                        配送料の方法
                        %span.form-require 必須
                      = f.fields_for :prduct_charge_methods do |n|
                        = n.collection_select :method_id_2, ChargeMethod.find(1).children ,:id ,:layer ,{prompt:"---"}, {class:"collection_select ,children_11" ,id: "child1"}
                #copyjs2.form-group__send__JS
                  .sell-form-box
                    #copysend.form-group__category
                      %label
                        配送料の方法
                        %span.form-require 必須
                      = f.fields_for :prduct_charge_methods do |n|
                        = n.collection_select :method_id_3, ChargeMethod.find(2).children ,:id ,:layer ,{prompt:"---"}, {class:"collection_select ,children_22" ,id: "child2"}
                #beforecopy.form-group__send__2
                  .sell-form-box
                    .form-group__category
                      %label
                        発送元の地域
                        %span.form-require 必須
                      = f.fields_for :send_areas do |n|
                        = n.collection_select :address_id, Address.all, :id, :name,{prompt:"---"}, {class:"collection_select"}
                  .form-group__send__2
                    .sell-form-box
                      .orm-group__category
                        %label
                          発送までの日数
                          %span.form-require 必須
                        = f.fields_for :product_periods do |n|
                          = n.collection_select :send_periods_id, Period.all,:id ,:period ,{prompt:"---"},{class:"collection_select"}
              .sell-content
                .sell-content__en
                  .price-1
                    販売価格(300〜9,999,999)
                    %a.form-question{:href => "/jp/help_center/article/64/", :target => "_blank"} ?
                  .price-2
                    .form-group
                      価格
                      %span.form-require 必須
                  .price-3
                    %span.en ¥
                    %div
                      = f.text_field :price,id: "price", class: "input",placeholder:"例）300  ",maxlength:"40"
                  .price-4
                  .price-5
                    .l-left__10 販売手数料 (10%)
                  .price-6
                    %span#per.l-right -
                  .price-7
                  .price-8
                    %span.l-left--profit 販売利益
                  .price-9
                    #profit.l-right -
              .sell-content.clearfix
                .bottom
                  %p
                    %a{:href => "/jp/help_center/getting_started/prohibited_items/", :target => "_blank"}> 禁止されている出品
                    、
                    %a{:href => "/jp/help_center/getting_started/prohibited_conduct/", :target => "_blank"}> 行為
                    を必ずご確認ください。
                  %p
                    またブランド品でシリアルナンバー等がある場合はご記載ください。
                    %a{:href => "/jp/help_center/getting_started/counterfeit_goods/", :target => "_blank"}> 偽ブランドの販売
                    は犯罪であり処罰される可能性があります。
                  %p
                    また、出品をもちまして
                    %a{:href => "/jp/seller_terms/"}> 加盟店規約
                    に同意したことになります。
                = f.submit "出品する" ,class:"btn-default btn-red",type: 'button', onclick: 'submit();'
                %a.btn-default.btn-gray{:href => "../"} もどる
  = render partial: "footer"
  :javascript
    'use strict';
    const parent2 = document.getElementById("parent2");
    const copyjs1 = document.getElementById("copyjs1");
    const copyjs2 = document.getElementById("copyjs2");
    const brand = document.getElementById("brand");
    const mago = document.getElementById("mago");
    const size = document.getElementById("size");
    mago.addEventListener("change",function () {
     
    });
    
    parent2.addEventListener("change", function () {
    if (parent2.value == 1){
      copyjs1.style.display ="block";
      copyjs2.style.display ="none";
    
    }else if(parent2.value == 2){
      copyjs2.style.display ="block";
        copyjs1.style.display ="none";
    }else if(parent2.value == ""){
      copyjs1.style.display ="none";
      copyjs2.style.display ="none";
    }
    });
    const input = document.getElementById("price");
    input.addEventListener("change",function () {
      document.getElementById("per").innerHTML= "¥" +Math.floor(input.value * 0.1).toLocaleString();
      document.getElementById("profit").innerHTML= "¥" +(input.value - Math.floor(input.value * 0.1)).toLocaleString();
    });
