-# %body
-#   .ppWrapper
-#     %header.header
-#       %h1.header__logo
-#         =link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?1855818912", class: "header__logo__icon"), "#topへ移動", class: "opa"
-#     .main
-#       %h2.top 購入内容の確認
-#       .product
-#         .product__info
-#           =image_tag("https://rr.img.naver.jp/mig?src=http%3A%2F%2Fimgcc.naver.jp%2Fkaze%2Fmission%2FUSER%2F20130322%2F18%2F1563448%2F32%2F403x403xa3d346eed3cc8edcd8eb176e.jpg&twidth=1000&theight=0&qlt=80&res_format=jpg&op=r", class: "product__info__image")
-#           .product__info__name いい女
-#         %form
-#           .product__price
-#             .product__price--left $1,000,000
-#             .product__price--right 送料込み
-#           .point.btn ポイントはありません
-#           .product__payment
-#             .product__payment--left 支払い金額
-#             .product__payment--right $1,000,000
-#           - if true
-#             .product__caution
-#               この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
-#           =link_to "購入する", root_path, class: "btn"
-#           - if true
-#             .product__appNavi
-#               .product__appNavi__caution
-#               アプリをお持ちでない方は以下よりインストールしてご利用いただけます
-#               .product__appNavi__link
-#                 =link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?1855818912", class: "product__appNavi__icon"), "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", class: "opa"
-#                 =link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?1855818912", class: "product__appNavi__icon"), "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", class: "opa"             
-#       .address
-#         .address__top 配送先
-#         .address__postalCode 〒000-1107
-#         .address__detail XXXXXXXXXXXX
-#         .address__name 山田　太郎
-#         =link_to "変更する >", "#住所変更画面へ", class: "opa change"
-#       .termsOfPayment
-#         .termsOfPayment__top 支払い方法
-#         .termsOfPayment__cardNo ********1107
-#         .termsOfPayment__expirationDate 02/22
-#         %div
-#           =image_tag("https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?1855818912", class: "termsOfPayment__icon")
-#         =link_to "変更する >", "#カード変更画面へ", class: "opa change"

-#     %footer.footer
-#       %ul.footer__link.opa
-#         %li
-#           =link_to "プライバシーポリシー", "#プライバシー", class: "footer__link__span"
-#         %li.footer__link__a
-#           =link_to "メルカリ利用規約", "#メルカリ利用規約", class: "footer__link__span"
-#         %li.footer__link__a
-#           =link_to "特定商取引に関する表記", "#特定商取引に関する表記", class: "footer__link__span"
-#       .footer__mercari
-#         .footer__mercari__logo
-#           =link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?1855818912", class: "footer__mercari__logo__icon"), "#topへ移動", class: "opa"
-#         %small.footer__mercari__logo__c ©️ Mercari, Inc.
.detailWrapper
  = render './shareParts/detailHeader'
  .detailMain
    .Top
      %h2.purchaseTop 購入内容の確認
    .purchaseDetail
      .purchaseDetail__info
        - @product_image.each do |img|
          = image_tag img.image_url.to_s
        .purchaseDetail__info__name
          = @product.name
      .purchaseDetail__price
        .purchaseDetail__price--left ¥#{@product.price}
        .purchaseDetail__price--right 送料込み
      .point.btn ポイントはありません
      .purchaseDetail__payment
        .purchaseDetail__payment--left 支払い金額
        .purchaseDetail__payment--right ¥#{@product.price}
      - if true
        .purchaseDetail__caution
          この商品はゆうゆうメルカリ便を利用しているため、アプリからのみ購入できます。
      = form_with(model: @product, local: true, url: pay_product_path, method: :post, class: "detailMain") do |f|
        = f.submit class: "btn", value: "購入する"
      - if true
        .purchaseDetail__appNavi
          .purchaseDetail__appNavi__caution
          アプリをお持ちでない方は以下よりインストールしてご利用いただけます
          .purchaseDetail__appNavi__link
            =link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?1855818912", class: "purchaseDetail__appNavi__icon"), "https://itunes.apple.com/jp/app/id667861049?l=ja&mt=8", class: "opa"
            =link_to image_tag("https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?1855818912", class: "purchaseDetail__appNavi__icon"), "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&hl=ja", class: "opa"             
    .purchaseShippingAddress
      .purchaseShippingAddress__top 配送先
      .purchaseShippingAddress__postalCode 〒000-1107
      .purchaseShippingAddress__detail XXXXXXXXXXXX
      .purchaseShippingAddress__name
        = current_user.nickname
      = link_to "変更する >", "#住所変更画面へ", class: "opa change"
    .purchaseTermsOfPayment
      .purchaseTermsOfPayment__top 支払い方法
      .purchaseTermsOfPayment__cardNo
        = "**** **** **** " + @default_card_information.last4
      .purchaseTermsOfPayment__expirationDate
        - exp_month = @default_card_information.exp_month.to_s
        - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
        = exp_month + " / " + exp_year
      %div
        = image_tag("https://www-mercari-jp.akamaized.net/assets/img/card/visa.svg?1855818912", class: "purchaseTermsOfPayment__icon")
      =link_to "変更する >", "credit_card", class: "opa change"
  = render '/shareParts/detailFooter'