%header.pc-header.visible-pc.with-shadow
  .pc-header-inner
    .pc-header-top
      %div
        = link_to root_path do
          = image_tag "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", size: "134x36", alt: "mercari"
      %form.pc-header-form{action: "検索URL"}
        %input.input-default{name: "keyword", placeholder: "何かお探しですか？", type: "search", value: ""}/
        %i.icon-search
    .pc-header-nav-box.clearfix
      %nav.l-left
        %ul.pc-header-nav
          %li
            %h2
              = link_to "カテゴリーURL", class: "pc-header-nav-root list-parent" do
                %i.icon-list.pc-header-cat-brand-icon
                %span カテゴリーから探す
            /
              <ul class="pc-header-nav-parent-wrap" data-mega="1" style="width: auto;">
              <li class="pc-header-nav-parent">
              <h3>
              <a href="カテゴリーURL">カテゴリー名</a>
              </h3>
              <ul class="pc-header-nav-child-wrap" data-mega="2">
              <li class="pc-jeader-nav-child">
              <a href="カテゴリーURL">カテゴリー名</a>
              </li>
              </ul>
              </li>
              </ul>  今後実装していくが今は保留にしておきます
          %li
            %h2
              = link_to "ブランドURL", class: "pc-header-nav-root list-parent" do
                %i.icon-tag.pc-header-cat-brand-icon
                %span ブランドから探す
      .l-right
        %ul.pc-header-login-nav
          %li
            = link_to "新規会員登録",new_user_registration_path, class: "sp-header-btn btn-red"
          %li
            = link_to "ログイン",user_session_path, class: "sp-header-btn header-login"
%section.product_detail.l-single-container
  %h1.product_name
    = @product.name
  %p.product_wording
    『
    = @product.name
    』は、'X'回の取引実績を持つ
    = @user.nickname
    さんから出品されました。
    = @product.brand
    の商品で、
    = @product.shipping_from
    から
    = @product.shipping_date
    されます。
  .product_main_content.claarfix
    .item_image
      .owl-carousel.owl-loaded.owl-drag
        .owl-stage-outer
          .owl-stage{style: "width: 900px;"}
            .owl-item{style: "width: 300px;"}
              .owl-item-inner
                = image_tag @product_image.image_url, class: "owllazy", style: "opacity: 1;"
        .owl-nav.disabled
          .owl-prev prev
          .owl-next next
        .owl-dots
          .owl-dot
            %span
            .owl-dot-inner
              = image_tag @product_image.image_url
    .item-prige-box.text-center.visible-sp
      %span.item-price.bold ¥X,XXX
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み
    %section.visible-sp
      .item-btn-float-area
        = link_to "購入画面に進む", "購入画面URL", class: "item-buy-btn"
    %table.item-detail-table
      %tbody
        %tr
          %th 出品者
          %td
            = link_to "ユーザーページURL" do
              = @user.nickname
            %div
              .item-user-ratings
                %i.icon-good
                %span
                  00
              .item-user-ratings
                %i.icon-normal
                %span
                  00
              .item-user-ratings
                %i.icon-bad
                %span
                  00
        %tr
          %th カテゴリー
          %td
            = link_to "カテゴリーURL" do
              %div 
                = @category.name
        %tr
          %th ブランド
          %td
            = link_to "ブランドURL" do
              %div 
              = @product.brand
        %tr
          %th 商品の状態
          %td 
            = @product.status.status
        %tr
          %th 配送料の負担
          %td
            = @product.shipping_fee
        %tr
          %th 配送の方法
          %td
            = @product.shipping_method
        %tr
          %th 配送元の地域
          %td
            = link_to "都道府県URL" do
              = @product.shipping_from
              -# = @product.address.address
        %tr
          %th 発送日の目安
          %td
            = @product.shipping_date
            = @product.period.period
  .item-price-box.text-center
    %span.item-price.bold
      = "¥#{@product.price.to_s(:delimited)}"
    %span.item-tax (税込)
    %span.item-shipping-fee
      = @product.shipping_fee
  = link_to "購入画面に進む", "購入画面URL", class: "item-buy-btn"
  .item-description.f14
    %p.item-description-inner
      = @product.description
  .item-button-container.clearfix
    .item-button-left
      = link_to "いいねURL", class: "item-button item-button-like" do
        %i.icon-like-border
        %span いいね！
        %span{"data-num": "like"}
          X
      = link_to "通報フォームURL", class: "item-button item-button-report clearfix" do
        %i.icon-flag
        %span 不適切な商品の報告
    .item-button-right
      = link_to "安心安全への取り組みURL", target: "_blank" do
        %i.icon-lock
        %span あんしん・あんぜんへの取り組み
-if user_signed_in? && current_user.id == @user.id
  .x-single-container
    .listing-item-change-box
      = link_to "URL", class: "btn-default btn-red" do
        %span 商品の編集
      %p.text-center
        %span or
      %form{action: "URL", method: "POST", novalidate: "novalidate"}
        %input{name: "__csrf_value", type: "hidden", value: "何かの文字列"}
        %button{type: "submit", class: "btn-default btn-gray"}
          %span 出品を一旦停止する
      %button{"data-modal": "delete-item", "data-open": "modal", class: "btn-default btn-gray"}
        = link_to 'この商品を削除する', product_path, class: "white-link", method: :delete
-else
.item-detail-message
  .message-container
    .message-content
      %ul.message-items
        %li.clearfix
          = link_to "ユーザーページURL", class: "message-user" do
            %figure
              %div
                = image_tag root_path, alt: ""
              %figcaption.bold
                ユーザー名
          .message-body
            .message-body-text
              "コメント内容"
              %br/
              "コメント内容二行目"
            .message-icons.clearfix
              %time.message-icon-left
                %i.icon-time
                %span XX日前
              .message-icon-right
                %form{action: "コメント通報ページURL", method: "POST"}
                  %button{type: "submit"}
                    %i.icon-flag
                  %input{name: "redirect_url_key", type: "hidden", value: "item_detail"}/
            %i.icon-balloon
    .message-content
      = render 'comments/comment'
    %aside.modal{"data-close": "modat", "data-modal": "delete-comment"}
      .modal-inner.modal-banner
        .modal-body
          .modal-head.bold 確認
          %div{"data-comment": "body"}
          = succeed "\"\u{672c}\u{5f53}\u{306b}\u{3053}\u{306e}\u{30b3}\u{30e1}\u{30f3}\u{30c8}\u{3092}\u{524a}\u{9664}\u{3057}\u{3066}\u{3088}\u{308d}\u{3057}\u{3044}\u{3067}\u{3059}\u{304b}\u{ff1f}\"" do
            %br/
        %form{action: "URL"}
          .clearfix
            .modal-btn.modal-btn-cancel{"data-close": "modal"} キャンセル
            %button.modal-btn.modal-btn-submit{type: "submit"}
              削除する
          %input{name: "item_id", type: "hidden", value: "商品ID"}/
          %input{name: "comment_id", type: "hidden", value: ""}/
          %input{name: "redirect_url_key", type: "hidden", value: "item_detail"}/
          %input{name: "__csrf_value", type: "hidden", value: "何か"}/
%ul.nav-item-link-prev-next.clearfix
  -if @product.previous == nil
  -else
    %li.nav-item-link-prev
      = link_to "/products/#{@product.previous.id}" do
        %i.icon-arrow-left
        = @product.previous.name
  -if @product.next == nil
  -else
    %li.nav-item-link-next
      = link_to "/products/#{@product.next.id}" do
        = @product.next.name
        %i.icon-arrow-right
.item-social-media-box
  .text-center
    .fb-save.fb_iframe_widget{"data-uri": "何かのURL?", "fb-iframe-plugin-query": "何かのURL", "fb-xfbml-state": "rendered"}
      %span{style: "vertical-align: top; width: 0px; height: 0px; overflow:hidden;"}
        %iframe{allow: "encrypted-media", allowfullscreen: "true", allowtransparency: "true", frameborder: "0", height: "1000px", name: "商品id?", scrolling: "no", src: "facebookURL", style: "border: none; visibility: visible; width: 0px; height: 0px;", title: "fb: save Facebook Social Plugin", width: "1000px"}
  %ul.social-media-box
    %li
      = link_to "facebookURL", class: "share-btn", target: "_blank" do
        %i.icon-facebook
    %li
      = link_to "twitterURL", class: "share-btn", target: "_blank" do
        %i.icon-twitter
    %li.social-hidden-item
      = link_to "lineURL", class: "share-btn", target: "_blank" do
        %i.icon-line
    %li
      = link_to "pinterestURL", class: "share-btn", target: "_blank" do
        %i.icon-pinterest
.items-in-user-profile
  %section.item-box-container.clearfix.related-item-column.items-in-user-profile
    %h2.items-box-head
      = link_to "URL" do
        = @user.nickname 
        さんのその他の出品
    .items-box-set
      -num = 0
      -@product_user_other.each do |product|
        .items-box-content.clearfix
          %section.items-box
            = link_to "/products/#{product.id}" do
              %figure.items-box-photo.__web-inspector-hide-shortcut__
                = image_tag @product_user_other_image[num].image_url, class: "lazyloaded", alt: ""
              .items-box-body
                %h3.items-box-name.font-2
                  = product.name
                .items-box-num
                  .items-box-price.font-5 
                    = "¥#{product.price.to_s(:delimited)}"
                  .font-2
                    %i.icon-like-border
                    %span
                      X
        -num += 1
        -break if num== 6
  %section.items-box-container.clearfix.related-item-column
    %h2.items-box-head
      = link_to "カテゴリーURL" do
        = @category.name
        その他の商品
    .items-box-set
      -num = 0
      -@category_same.each do |category|
        .items-box-content.clearfix
          %section.items-box
            = link_to "/products/#{category.id}" do
              %figure.items-box-photo
                = image_tag @other_product_image[num].image_url, class: "lazyloaded", alt: ""
              .items-box-body
                %h3.items-box-name.font-2
                  -# = category.product.name
                .items-box-num
                  .items-box-price.font-5
                    -# = "¥#{category.product.price.to_s(:delimited)}"
                  .font-2
                    %i.icon-like-border
                    %span
                      X
        -num += 1
        -break if num== 6
%aside.modal{"data-close": "modal", "data-modal": "report-item"}
  .modal-inner.modal-banner
    .modal-body
      .modal-head.bold 確認
      "不適切な商品を報告しますか？"
    .clearfix
      .modal-btn.modal-btn-cancel{"data-close": "modal"} キャンセル
      = link_to "URL" do
        %button.modal-btn.modal-btn-submit はい
%nav.bread-crumbs.pos-bottom
  %ul
    %li{itemscope: "", itemtype: "URL"}
      = link_to root_path, itemprop: "url" do
        %span{itemprop: "title"} メルカリ
      %i.icon-arrow-right2
    %li{itemscope: "", itemtype: "URL"}
      %span{itemprop: "title"} 
        = @product.name